<!DOCTYPE html>
<html>
<head>
  <title>KarmaForge</title>
</head>
<body>
  <header>
    <h1 id="title">KarmaForge</h1>
      <h3 id="welcome-message">Welcome Message...</h3>
  </header>
    <button id="enter">Forge!</button>
    <div id="location">
      <%= form_for @location do |f| %>
      <%= f.text_field :city, placeholder: "Enter your city" %>
      <%= f.text_field :state, placeholder: "Enter your state" %>
      <%= f.submit "Next" %>
      <% end %>
    </div>

     <div id="item-search">
     <%= form_for @item do |f| %>
     <%= f.text_field :item, placeholder: "Enter item description" %>
     <%= f.submit "Next" %>
     <% end %>
    </div>

    <div id="transaction-display">
      <button id="donate">Donate</button>
      <form action="http://www.ebay.com" method="get">
        <button id="sell">Sell</button>
      </form>
    </div>

</body>
</html>

