<!DOCTYPE html>
<html>
<head>
  <title>KarmaForge</title>
</head>
<body>
  <header>
    <h1 id="title">KarmaForge</h1>
      <h3 id="welcome-message">Boost your community's <span> Karma-- <span>commit to donate or sell your old stuff.</h3>
    <p>How does it work?</p>
  </header>
    <button id="enter">Forge!</button>
      <div id="error-message">
      </div>

      <div id="location">
        <%= form_for :location do |f| %>
        <%= f.text_field :city, placeholder: "Enter your city", value: @location.city %>
        <%= f.text_field :state, placeholder: "Enter your state", value: @location.state %>
        <%= f.submit "Next" %>
        <% end %>
      </div>

    <div id="item-search">
       <%= form_for :item do |f| %>
       <%= f.text_field :name, placeholder: "Enter item description" %>
       <%= f.submit "Fetch eBay" %>
       <% end %>

       <button id="item_save">Next</button>
    </div>

    <div id="ebay-display">
    <button id="donate">Donate</button>
      <form action="http://www.ebay.com" method="get">
        <button id="sell">Sell</button>
      </form>
    </div>

    <div id="transaction-display">
    </div>

</body>
</html>

