<!DOCTYPE html>
<html>
<head>
  <title>KarmaForge</title>
</head>
<body>
  <header>
<<<<<<< HEAD
    <h1 id="title">KarmaForge</h1>
      <h3 id="welcome-message">Boost your community's <span> Karma-- <span>commit to donate or sell your old stuff.</h3>
    <p id="instructions">How does it work?</p>
    <ol id="how-to-forge">
      <li>Choose your city.</li>
      <li>Find a thing you no longer need.</li>
      <li>See about how much you'd get auctioning on ebay (and if anyone would want it)</li>
    </ol>

    <p>Then what? Choose to donate your stuff and forge karma for yourself and your community! Why? Because giving your old things away benefits everyone. And, it's fun! Each item has a karmic value that's revealed and added to your karma points and your city's whenever you choose to donate.</p>

    <p>Want to try to sell it? That's cool. Choose sell and you'll go to ebay's sign up page to try your luck!</p>

    <p>Ready?</p>
=======
    <div class="jumbotron">
      <h1 id="title">KarmaForge</h1>
        <h3 id="tagline">Give your old things a new life and boost your community's <span id="karma"> Karma</span>!</h3>
    </div>
>>>>>>> e25a552e5db8864f577b7136e222926b770eaf09
  </header>
    <div id="intro">
      <button id="enter" class="btn-warning btn-lg">Enter the Forge</button>
    </div>

    <div id="error-message">
    </div>
    <div id="location" class="form-inline">
      <p>I'm forging karma for: </p>
      <%= form_for :location do |f| %>
        <%= f.text_field :city, placeholder: "City name", value: @location.city %>
        <%= f.text_field :state, placeholder: "State abbreviation", value: @location.state %>
        <%= f.submit "Next", class: "btn btn-info btn-lg" %>
      <% end %>
    </div>


    <div id="item-search">
      <p>Describe your item-- some good search terms include: name, brand, material, year, or condition.  Like Shrek DVD 2001</p>
       <%= form_for :item do |f| %>
       <%= f.text_field :name, placeholder: "Enter item description" %>
       <%= f.submit "eBay", class: "btn btn-info btn-lg" %>
       <% end %>
      <div id="item_save_button">
        <button id="item_save" class="btn btn-success btn-lg">Results</button>
      </div>
    </div>


    <div id="ebay-display">
      <button id="donate" class="btn btn-danger">Donate and Forge</button>
      <form id="ebay-button-form" action="http://www.ebay.com" method="get">
        <button id="sell" class="btn btn-primary">Sell</button>
      </form>
    </div>

    <div id="transaction-display">
    </div>
    <div id="again">
      <button id="forge-again" class="btn btn-warning">Forge again</button>
    </div>

</body>
</html>

